<a href="https://colab.research.google.com/github/ownishubh/CampusX/blob/main/CampusX_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
ctc = int(input("Please enter your CTC : "))


if ctc < 500000:
  salary = ctc*0.82
elif ctc <= 1000000:
  salary = ctc*0.72
elif ctc <= 2000000:
  salary = ctc*0.62
else:
  salary = ctc*0.52

monthly_salary = round(salary/12,2)

print(f'Monthly salary is Rs.{monthly_salary}')

Please enter your CTC : 1200000
Monthly salary is Rs.62000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
first = int(input('enter the 1st angle'))
second = int(input('enter the 2nd angle'))
third = int(input('enter the 3rd angle'))

sum_angle = first + second + third

if sum_angle == 180 and first > 0 and second > 0 and third >0:
  print("It can form a triangle")
else:
  print("It can't form a triangle")

enter the 1st angle45
enter the 2nd angle31
enter the 3rd angle112
It can't form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here

cost_price = int(input('Enter cost price-'))
selling_price = int(input('Enter selling price-'))

if selling_price > cost_price:
  print('It is a profit')
elif selling_price == cost_price:
  print('It is neither a loss nor a profit')
else:
  print('It is a loss')

Enter cost price-400
Enter selling price-300
It is a loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
menu = int(input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
"""))
# 1 cm = 0.032ft
# 1km = 0.62 mile
# 1 USD = 80 INR

if menu == 1:
  cm = float(input('Enter the centimeter value : '))
  ft = round(cm*0.032,2)
  print(f'{cm} cm is equal to {ft} ft')

elif menu == 2:
  km = float(input('Enter the kilometer value : '))
  miles = round(km*0.62,2)
  print(f'{km} km is equal to {miles} miles')

elif menu == 3:
  usd = float(input('Enter the dollar amount : '))
  rs = usd*80
  print(f'{usd} USD is equal to Rs.{rs}')
else:
  exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
2
Enter the kilometer value : 10
10.0 km is equal to 6.2 miles

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
a = 0
b = 1
count = 10

print(a)
print(b)

while count > 1:
  c = a + b
  a = b
  b = c
  count = count - 1
  print(c)

0
1
1
2
3
5
8
13
21
34
55

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
n = int(input("Enter the number for which you want to calculate the factorial : "))
# 5! = 1* 2*3*4*5
fact = 1
for i in range(1,n+1):
  fact *= i

print(f'Factorial of {n} is {fact}')

Enter the number for which you want to calculate the factorial : 5
Factorial of 5 is 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

num = input("Enter the number : ")
reversed_no = ''
for each in range((len(num)),0,-1):
  print(num[each-1], end = "")

Enter the number : 76542
24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
n = int(input("enter the number : "))
sum = 0

for i in range(1, n+1):
    if i % 5 == 0:
      continue

    else:
      sum = sum + i
      if sum > 300:
        sum -= i

print(sum)

enter the number : 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count = 0

while True:
  n = int(input("Enter the number : "))
  if n == 0:
    break
  else:
    count += 1
    sum += n
print("Sum is : ", sum)
print("Count is : ", count)
print("Average is : ", sum/count)

Enter the number : 4
Enter the number : 3
Enter the number : 2
Enter the number : 1
Enter the number : 0
Sum is :  10
Count is :  4
Average is :  2.5

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
for  i in range (2000,3201):
  if (i%7==0) & (i%5==0):
    continue
  elif i%7 == 0:
    print(i, end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
for  i in range (1000,3001):
  while i > 0:
    if i % 10 == 0:
      i = i//10
    if i == 0
  unit = i%10
  tens = i
  if (i%7==0) & (i%5==0):
    continue
  elif i%7 == 0:
    print(i, end = ",")

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here
pos_y = 0
pos_x = 0

while True:
  s = input("Enter the robot path : ")
  if s == '!':
    break
  else:
    dir, steps = s.split()

  if dir == 'UP':
    pos_y += int(steps)
  elif dir == 'DOWN':
    pos_y -= int(steps)
  elif dir == 'LEFT':
    pos_x -= int(steps)
  elif dir == 'RIGHT':
    pos_x += int(steps)
  else:
    print('Enter the correct direction ')
    continue

final_distance = (pos_y**2 + pos_x **2)**0.5

print(round(final_distance))

Enter the robot path : UP 5
Enter the robot path : DOWN 3
Enter the robot path : LEFT 3
Enter the robot path : RIGHT 2
Enter the robot path : !
2.23606797749979

In [ ]:
s = input("Enter the robot path : ")
dir,steps = s.split()
print(dir)
print(steps)

Enter the robot path : up 6
up
6

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
num = int(input('enter the num'))

flag = True
for i in range(2,num/2):
  if num%i == 0:
    flag = False
    break

if flag == True:
  print('Prime')
else:
  print('Not Prime')

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here